.container {
  font-family: Arial;
}

.grid {
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
}

.row {
  clear: both;
  height: 10%;
}

.cell {
  /* border-style: solid; */
  float: left;
  position: relative;
  width: 2%;
  height: 100%;
}

.box.cursor {
  position: absolute;
  background-color: rgba(0, 255, 0, 0.5);
}

.box.blank {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.5);
}

.box.word {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5);
}

.box {
  position: absolute;
  background-color: rgba(0, 2, 0, 0.05);
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
}

.marker {
  position: absolute;
  font-size: 5px;
  color: rgba(255,0,0,0.95);
  top: 0px;
  right: 2px;
}

.letter {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -4px;
  font-size: 9px;
  line-height: 1;
  height: 9px;
  color: rgba(0,0,0,0.9);
}
